/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 150px;
    width: 100%;
}
/* utility */

/********************
 nav top
*******************/
.bcg{
    background-color: rgba(244, 249, 253, 1);  
    border-bottom: 2px solid rgba(50, 73, 91, 1);
}

#top{
    width: 75%;
    height: 75px;
    margin: auto;
}

#top_left{
    width:50%;
    display: inline-block;
}

ul{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: rgba(50, 73, 91, 1);
    font-weight: 600;
}

i{
    padding-left: 5px;
}

.contact{
    display: inline-block;
}

.contact>a:only-child{
    border-left: 1px solid rgba(50, 73, 91, 1);
    display: inline-block;
    padding: 0px 10px;
}


#top_right{
    width: 49%;
    text-align: right;
    margin-top: 10px;
    display: inline-block;
}

#top_right>a>img{
    width: 17px;
}

.btn{
    border: 1px solid rgba(254, 119, 90, 1);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

.log{
    background-color: white;
    color:rgba(254, 119, 90, 1);
}

.sol{
    background-color: rgba(254, 119, 90, 1);;
    color: white;
}

.sol:hover{
    background-color: rgba(240, 114, 86, 0.329);
    color: coral;
}

.log:hover{
    background-color: coral;
    color: white;
}
/**************
/nav top
************* */

/*************
 nav bottom
 ************* */
#top_bott{
    width: 75%;
    margin: auto;
    height: 75px;
    background-color: white;
}

.icon{
    width: 20%;
    display: inline-block;
    margin: 20px 0px;
}

.menu_left{
    width: 79%;
    display: inline-block;
    text-align: right;
}

.menu_left>ul>li>a>i{
    padding-left: 10px;
}

.menu_left>ul>li{
    padding-left: 10px;
}
/***************
/nav bottom
**************  */

/**************
 jumbotron 
 **************/

#grow{
    height: 710px;
    width: 100%;
    position: relative;
}

#bcg-img{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 244, 239, 1);
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: right;
}

#cont{
    height: 70%;
    width: 75%;
    margin: auto;
}

.titolo{
    width: 780px;
    height: 100%;
    padding-top: 50px;
    font-size: 1.9rem;
}

p{
    color: rgba(60, 79, 97, 1);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
}

.titolo>.btn{
    padding: 20px 40px;
    margin: 20px 0px;
    font-size: 1rem;
}

span{
    color: rgba(60, 79, 97, 1);
    font-size: 13px;
    display: block;
    font-weight: 600;
    margin-top: 10px;

}

#divisorio{
    width: 100%;
    height: 90px;
    background-color: rgba(175, 235, 228, 1);
    border-top: 3px solid rgba(51, 71, 91, 1);
    border-bottom: 3px solid rgba(51, 71, 91, 1);
    position: absolute;
    bottom: 0;
}
/***********
/jumbotron 
************ */

#power{
    height: 600px;
    width: 100%;
    background-color:rgba(244, 249, 253, 1);
    position: relative;
}

.content{
    width: 75%;
    height: 100%;
    margin: auto;
}

#cubo{
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    left: 50%;
    transform: translate(-50%);
}

h2{
    text-align: center;
    font-size: 2rem;
}
