/* utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.cleafix{
    content: "";
    display: table;
    clear: both;
}

header{
    height: 150px;
    width: 100%;
}
/* utility */

body{
    min-width: 1400px;
    max-width: 2000px;
}

/********************
 nav top
*******************/
.bcg{
    background-color: rgba(244, 249, 253, 1);  
    border-bottom: 2px solid rgba(50, 73, 91, 1);
}

#top{
    width: 75%;
    height: 75px;
    margin: auto;
}

#top_left{
    width:50%;
    display: inline-block;
}

ul{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: rgba(50, 73, 91, 1);
    font-weight: 600;
}

i{
    padding-left: 5px;
}

.contact{
    display: inline-block;
}

.contact>a:only-child{
    border-left: 1px solid rgba(50, 73, 91, 1);
    display: inline-block;
    padding: 0px 10px;
}


#top_right{
    width: 49%;
    text-align: right;
    margin-top: 10px;
    display: inline-block;
}

#top_right>a>img{
    width: 17px;
}

.btn{
    border: 1px solid rgba(254, 119, 90, 1);
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

.log{
    background-color: white;
    color:rgba(254, 119, 90, 1);
}

.sol{
    background-color: rgba(254, 119, 90, 1);;
    color: white;
}

.sol:hover{
    background-color: rgba(240, 114, 86, 0.329);
    color: coral;
}

.log:hover{
    background-color: coral;
    color: white;
}
/**************
/nav top
************* */

/*************
 nav bottom
 ************* */
#top_bott{
    width: 75%;
    margin: auto;
    height: 75px;
    background-color: white;
}

.icon{
    width: 20%;
    display: inline-block;
    margin: 20px 0px;
}

.menu_left{
    width: 79%;
    display: inline-block;
    text-align: right;
}

.menu_left>ul>li>a>i{
    padding-left: 10px;
}

.menu_left>ul>li{
    padding-left: 10px;
}
/***************
/nav bottom
**************  */

/**************
 jumbotron 
 **************/

#grow{
    height: 695px;
    width: 100%;
    position: relative;
}

#bcg-img{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 244, 239, 1);
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-position: right;
}

#cont{
    height: 70%;
    width: 75%;
    margin: auto;
}

.titolo{
    width: 780px;
    height: 100%;
    padding-top: 50px;
    font-size: 1.9rem;
}

p{
    color: rgba(60, 79, 97, 1);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 35px;
    margin-top: 20px;
}

.titolo>.btn{
    padding: 20px 40px;
    margin: 20px 0px;
    font-size: 1rem;
}

span{
    color: rgba(60, 79, 97, 1);
    font-size: 13px;
    display: block;
    font-weight: 600;
    margin-top: 10px;

}

#divisorio{
    width: 100%;
    height: 90px;
    background-color: rgba(175, 235, 228, 1);
    border-top: 3px solid rgba(51, 71, 91, 1);
    border-bottom: 3px solid rgba(51, 71, 91, 1);
    position: absolute;
    bottom: 0;
}
/***********
/jumbotron 
************ */

/************
 power 
 *************/
main{
    background-color:rgba(244, 249, 253, 1);
}

#power{
    height: 600px;
    width: 100%;
    padding: 50px;
}

.content{
    width: 75%;
    height: 100%;
    margin: auto;
}

.imag{
    display: block;
    margin: 0 auto;
    
}

h2{
    text-align: center;
    font-size: 2rem;
}

.content>p{
    text-align: center;
    font-size: 1.35rem;
    padding: 30px;
}
/****************
/power
******************  */

/****************
free hub 
*****************/
#free_hub{
    height: 500px;
    width: 75%;
    margin: 50px auto;
    background-color: white;
    box-shadow: 3px gray;
} 

.free{
    height: 80%;
    margin: 50px 0px;
    display: inline-block;
    vertical-align: middle;

}

.left{
    width: 30%;
    height: 100%;
    padding-top: 50px;
    display: inline-block;
}

.book{
    object-fit: none;
    height: 190px;
    width: 250px;
}

.learn{
    margin-left: 125px;
    padding: 20px 40px;
}

.right{
    padding-top:50px;
    width: 69%;
    display: inline-block;
}

.free_right_top{
    width: 70%;
}

h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.popolar{
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
}

.popolar>span{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}

.linea{
    display: inline-block;
    width: 500px;
    height: 2px;
    background-color: rgba(60, 79, 97, 1);
    margin-left: 50px;
    vertical-align: middle;
}

.right>ul>li{
    display: inline;
    margin: 20px;
    color: rgba(60, 79, 97, 1);
    font-size: 1.2rem;
    font-weight: 600;

}

li>.radio{
    display: inline;
    border: 1px solid coral;
    border-radius: 50%;
    background-color: coral;
    color: white;
    margin-right: 15px;
}
/*************
free hub
************  */

/*************
 colonne 
 *************/

.container_colon{
    width: 75%;
    height: 900px;
    margin: auto;
}

.colon{
    width: calc(100% / 3 - 34px);
    height: 100%;
    background-color: white;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:rgba(60, 79, 97, 1);
}

.first{
    margin: 0px 50px 0px 0px;
}

.last{
    margin: 0px 0px 0px 50px;
}

.colon>.linea{
    width: 350px;
    margin: 70px auto 40px;
} 

.colon>ul{
    display: block;
    margin-left: 10px;
}

.colon>ul>li{
    display: block;
    margin: 10px;
    text-align: left;
}

.colon .imag{
    object-fit: none;
    height: 200px;

}

.colon>.learn{
    margin: 70px auto 0px;
}
/* *************
colonne
************** */